// Normalize
//______________________________

*
	border: 0px
	margin: 0px
	box-sizing: border-box

// Fontes
//______________________________
	
.fonte
	font-family: 'Open Sans', sans-serif

// Body
//______________________________

body
	@extend .fonte
	overflow-x: hidden
	overflow-y: scroll
	font-size: 14px