// Normalize
//______________________________

*
	border: 0px
	margin: 0px
	box-sizing: border-box

// Fontes
//______________________________
	
.fonte
	font-family: 'Open Sans', sans-serif

// Body
//______________________________

body
	@extend .fonte
	overflow-x: hidden
	overflow-y: scroll
	font-size: 14px

#main-wrapper
	max-width: 800px
	margin: 80px auto
	text-align: center
	@media ( max-width: 815px )
		padding: 0 15px
		margin: 35px auto

	.container-statics
		&.hidden
			display: none

// Effects
//______________________________

.transition
	-webkit-transition: all 0.3s ease-in-out
	-moz-transition: all 0.3s ease-in-out
	-o-transition: all 0.3s ease-in-out
	transition: all 0.3s ease-in-out

@keyframes placeHolderShimmer
	0%
		background-position: -468px 0

	100%
		background-position: 468px 0

.loader
	&:before
		animation-duration: 1s
		animation-fill-mode: forwards
		animation-iteration-count: infinite
		animation-name: placeHolderShimmer
		animation-timing-function: linear
		background: #f6f7f8
		background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%)
		background-size: 800px 104px
		height: 96px
		position: absolute
		z-index: 2
		content: ""
		width: 100%
		top: 0px
		left: 0px
		height: 100%

// VARIABLES
//______________________________

$azul: 		#0669de
$vermelho: 	#cd150c
$verde: 	#359e00
$laranja: 	#ff8100