.fakeSelect
	position: relative
	width: 100%
	height: 40px
	border: 1px solid #e1e1e1
	max-width: 400px
	color: #777
	display: block
	cursor: pointer

	.selected
		height: 40px
		padding: 9px 40px 11px 15px

	.options
		display: none

	.arrow
		background: #0669de
		height: 40px
		width: 40px
		position: absolute
		right: -1px
		top: -1px
		text-align: center
		color: #FFF
		i
			font-size: 20px
			margin: 9px