* {
  border: 0px;
  margin: 0px;
  box-sizing: border-box; }

.fonte, body {
  font-family: 'Open Sans', sans-serif; }

body {
  overflow-x: hidden;
  overflow-y: scroll;
  font-size: 14px; }

#main-wrapper {
  max-width: 800px;
  margin: 80px auto;
  text-align: center; }

.transition, .fakeSelect .options li:hover {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.logo {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #0669de;
  display: inline-block;
  position: relative; }
  .logo .com {
    font-size: 20px;
    color: #333;
    position: absolute;
    bottom: -11px;
    z-index: 2;
    right: 1px; }

.fakeSelect {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid #e1e1e1;
  max-width: 400px;
  color: #777;
  display: block;
  margin: 0px auto;
  text-align: left; }
  .fakeSelect .selected {
    height: 40px;
    padding: 9px 40px 11px 15px; }
  .fakeSelect .viewAction {
    cursor: pointer; }
  .fakeSelect .options {
    display: none;
    padding: 4px 20px;
    list-style: none;
    border: 1px solid #e1e1e1;
    border-top: initial;
    position: absolute;
    width: 100%;
    top: 40px;
    z-index: 2;
    max-height: 244px;
    overflow: hidden;
    background: #FFF; }
    .fakeSelect .options li {
      padding: 10px 0px;
      border-bottom: 1px solid #e1e1e1;
      cursor: pointer; }
      .fakeSelect .options li:last-child {
        border-bottom: 0px; }
      .fakeSelect .options li:hover {
        color: #0669de; }
  .fakeSelect .arrow {
    background: #0669de;
    height: 40px;
    width: 40px;
    position: absolute;
    right: -1px;
    top: -1px;
    text-align: center;
    color: #FFF; }
    .fakeSelect .arrow i {
      font-size: 20px;
      margin-top: 11px; }
